
.mainContainer {
	min-height: 100vh;
	background-color: white;
	box-shadow: 0 0 8px grey;
	padding: 25px;
}

body {
	background-color: #F5F5F5;
}

pre {
    border: none;
}

ul.post-archive {
	list-style-type: none;
	padding-left: 0px;
}

ul.post-archive ul {
	list-style-type: none;
	padding-left: 10px;
}

li {
	margin-left: 10px;
}

.btn {
	/* margin: 5px; */
}

@font-face {
	font-family: "RobotoSlab";
	src: url(../app/fonts/RobotoSlab-Regular.ttf) format("truetype");
}

.contentText {
	font-family: "open-sans";
	font-size: 16px;
}

.headerText {
	font-family: "RobotoSlab";
	text-decoration: none;
	color: black;
}

.headerTextClickable:hover {
	font-family: "RobotoSlab";
	color: #337ab7;
	text-decoration: none;
}

.dateText {
	font-style: italic;
	font-size: 13px;
	color: grey;
}

.commentLink{
	float: right;
}

@media (min-width: 780px) {
	.pageContainer {
		margin: 0px;
	}
}

.pageContainer{
	float: left;
	margin: 20px;
}

.pageContainerLeft {
	padding-left: 30px;
}

.errorMessage {
	color: red;
}

/* Post archive design */
.toggleLinks {
	color: black;
	cursor: pointer;		
	text-decoration: none;
}

.toggleLinks:hover {
	color: grey;
	cursor: pointer;		
	text-decoration: none;
}


