pre {
    border: none;
}

.btn {
	margin: 5px;
}

@font-face {
	font-family: "RobotoSlab";
	src: url(../app/fonts/RobotoSlab-Regular.ttf) format("truetype");
}

.contentText {
	font-family: "open-sans";
	font-size: 16px;
}

.headerText {
	font-family: "RobotoSlab";
}

.dateText {
	font-style: italic;
	font-size: 13px;
	color: grey;
}

@media (min-width: 780px) {
	.pageContainer {
		margin: 30px;
	}
}

.pageContainer{
	max-width: 780px;
	float: left;
}

/* Bootstrap overrides */

.navbar {
	margin: 5px;
}

