<h3>About</h3>
<p class="contentText">
Hello there! I am a web developer living in Uppsala, Sweden who likes many different things. Sometimes I think I have too many hobbies! That includes programming/computers, music (playing/listening) and reading (all sorts). 
</p>

<h3>Tech stuff </h3>
<p class="contentText">
I started on this site to learn more about angularjs and node for starters. The first version of this site was basically one view and a controller who printed out some dummy texts. And I have build on top of it for a bunch of months now. Its mostly my blog and links to some games Ive made in javascript. 
</p>

<p class="contentText">
This site consist of angularjs, node and like a hundred other kewl javascript libs.
</p>

Cheers!
/Magnus
