<h3>About</h3>
<p class="contentText">
Hello there! I am a 32 year web developer living in Uppsala, Sweden who likes many different things. Sometimes I think I have too many hobbies! That includes programming/computers, music (playing/listening) and reading (all sorts). 
</p>

<h3>Tech stuff </h3>
<p class="contentText">
I started on this site to learn more about angularjs and node. And thats the best advice I can give people, if you want to learn something; take a concept and do it in the technology you want to learn. But do it small. The first version of this site was basically one view and a controller who printed out some dummy texts. And I went from there. Now I have a simple site (yet it is working!) where I can put up blog posts wherever I am.
</p>

<p class="contentText">
This site consist of:
<ul>
	<li>Angular in the frontend</li>
	<li>A node server as backend + express</li>
	<li>A mongodb database</li>
	<li>Passportjs as authentication manager for my admin part</li>
	<li>Bootstrap for instant good looks (albeit common everywhere)</li>
	<li>This site is hosted on Red Hats cloud service Open Shift. You get like 3 free sites on their cloud service, includingmongodb</li>
	<li>Complete source for this site you can find <a href="https://github.com/MannuPannu/magnusstenqvist">here</a></li>
</ul>
</p>

Cheers!
/Magnus
