<div class="row">
	<div class="pageContainer col-md-8">
		<div ui-view />
	</div>

	<div class="pageContainer pageContainerLeft col-md-3">

		Show only posts with tag:<br /> <span ng-repeat="tag in tags">
			<a ui-sref="main.blog.itemlist({filterByTag: tag})">{{ tag }}</a> | 
		</span>
		
		<a ui-sref="main.blog.itemlist({filterByTag: ''	})" ui-sref-opts="{ reload: true}">Show all</a>

		<post-archive postlist="blogEntries" ></post-archive> 

		<form class="form-inline">
			<div class="form-group">
				<label for="searchFilterId">Search: </label>
				<input id="searchFilterId" ng-model="searchFilter" class="form-control" />
			</div>
		</form>
		<br /><br />
	</div>

</div>
