<div ng-if="user">
	<button ng-click="openCreatePostView()" class="btn btn-primary">Create post</button>
</div>

<div ng-repeat="blogEntry in blogEntries | filter:  blogEntriesFilterId | filter: searchFilter">
    <h3>
		<span class="headerText" ng-bind="blogEntry.headerText"></span>
	</h3>

	<button ng-if="user" ng-click="editPost(blogEntry)" class="btn btn-default">Edit post</button>
	<button ng-if="user" ng-click="deletePost(blogEntry)" class="btn btn-default">Delete post</button>
		

	<span class="dateText" ng-bind="convertText(blogEntry.dateText)"></span>

	(<a ng-bind="blogEntry.tagText"/>)<br />
    <span class="contentText" ng-bind-html="blogEntry.contentText"></span>
	<hr />

