
<div ng-if="user">
	<button ng-click="openCreatePostView()" class="btn btn-primary">Create post</button>
</div>

<div ng-repeat="blogEntry in blogEntries">
    <h3>
		<span ng-bind="blogEntry.headerText"></span>
		<button ng-if="user" ng-click="deletePost(blogEntry)" class="btn btn-default">Delete post</button>
    </h3>
    <span ng-bind="blogEntry.dateText"></span><br />
    <span ng-bind-html="blogEntry.contentText"></span>
    <hr />
</div>
<div hljs>
    function foobar() {
        return ""; 
    }
</div>

