<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner container">
        <a class="navbar-brand navbar-left" style="margin-right: 15px;" href="#">magnusstenqvist.se</a>	
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation"</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			
        </div>
        <div class="collapse navbar-inverse navbar-collapse" id="navbar" ng-controller="navbarController" >
            <ul class="nav navbar-nav">
				<li ng-class="{active: isActive('/main/blog/')}"><a ui-sref="main.blog.itemlist" ui-sref-opts="{
						reload: true
					}">Blog</a></li>
                <li ng-class="{active: isActive('/main/games')}"><a ui-sref="main.games">Games</a></li>
				<li ng-class="{active: isActive('/main/about')}"><a ui-sref="main.about">About</a></li>
				<li ng-if="user"><a href="#" ng-click="logout()">Log out</a><li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mainContainer">
	<div style="padding: 25px" ui-view />
</div>
