<h3>Blog archive</h3> <a href="#" ng-click="onClickPost({id: ''})">(Expand all) </a>

<ul>
	<li ng-repeat="year in tree">
	
		<a href="#" ng-click="year.show = !year.show">{{ year.year }}</a>

		<ul ng-show="year.show">
			<li ng-repeat="month in year.months">
			<a href="#" ng-click="month.show = !month.show">{{ month.month }} </a>
				<ul ng-show="month.show">
					<li ng-repeat="post in month.posts">
						<a href="#" ng-click="onClickPost({id: post._id})">{{ post.headerText }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

